extends layout

block content
  h1= title
  p Welcome to #[em Local Pub], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The pub has the following record counts:

    ul 
      li Customers: !{data.customer_count}
      li Tables: !{data.table_count}
      li Reservations: !{data.reservation_count}